{{range .}}

<div class="row mt-3">
<div class="card col-6 mx-auto">
  <div class="card-body">
    <h5 class="card-title">{{.Title}}</h5>
    <p class="card-text">{{.Text}}</p>
    <button hx-get="/notes/delete/{{.Id}}" class="btn btn-primary">Delete</button>
  </div>
</div>
</div>
{{else}}
<p>No Notes!</p>
{{end}}
